/*  Responsive breakpoints: 
    Media queries stored in a reusable format. */

    
@media screen and (min-width: 601px) {
    .card-content:has(.btn__pos_absolute),
    .sect-content:has(.btn__pos_absolute) {
        position: relative;
    }
    .btn__pos_absolute {
        position: absolute;
        min-width: 7rem;
    }
    .btn__pos_absolute:has(.card-urlBtn) {
        top: calc(100% + 35px);
    }
    .btn__pos_bottom {
        bottom: 1rem;
    }
    .btn__pos_right {
        right: -2rem;
    }
    .btn__pos_absolute:has(.sect-urlBtn_1) {
        left: calc(40% + 3rem);
    }
}
@media screen and (max-width: 600px) {
    .three-quarters-width,
    .half-width,
    .img__width,
    .sect-colors {
        width: 100%;
    }
    .home-Welkom {
        /* flex-direction: row; */
        justify-content: center;
        align-items: flex-end;
        position: relative;

        .img__width {
        position: absolute;
        top: var(--header-height);
        width: 100vw;
        }
        .card-content {
            margin-bottom: 0;
        }
        .card-btn {
            margin-top: 1rem;
        }
    }
    @keyframes scrollingY {
        100% {
            transform: translateY(calc(200svh));
        }
    }
    .home-Introduction {
        .img__width {
            display: none;
        }
        .card-btn {
            margin-top: 1rem;
        }

    }
    .font-weight__light {
        font-weight: 400;
    }
    .two-thirds-height,
    .half-heigth {
        min-height: calc(100svh - var(--header-height));
        justify-content: center;
        gap: 2rem;
    }
    header .two-thirds-height {
        justify-content: flex-start;
        gap: 2rem;
        height: auto;
        min-height: auto;
    }
    .flex-dir_column {
        flex-direction: column;
        gap: 3rem;
    }
    .flex-dir_column:has(.card-availability_1) {
        gap: 1rem;
    }
    .fixed-width {
        width: 100%;
    }
    .border-devider {
        border-right: none;
        border-bottom: var(--border-weight) solid var(--accent-primary);
    }
    ::-webkit-scrollbar  {
        width: 0;
    }
    #header  {
        box-shadow: 0 -60px 40px 100px var(--color-primary-background);
    }
    .dialog {
        width: 100vw;
    }

    .flex__small {
        justify-content: center;
    }
    .gap__mobile {
        gap: 5rem;
    }
    .landing_section {
        margin-left: 0;
    }
    .fixed {
        left: 0;
        width: 60%;
    }
    .nav {
        margin-top: 0;
    }
    .wrapper:has(.card-img) {
        height: auto;
         width: 100%;
        .card-img {
            width: 100%;
        }
    }
    .wrapper:has(.card-img):not(.padding-zero)
    {
        padding: 2rem 1rem;
    }
    .bullet {
        color: var(--black);
    }
    .bullet-dark {
        color: var(--white);
    }
    .sect-imgList {
        gap: 1rem;
    }
    .text-center__onMobile {
        text-align: center;
    }

}
@media screen and (max-width: 1000px) {
    .nav {
        box-sizing: border-box;
        width: auto;
        text-align: center;
        border-left: none;
        margin-inline: auto;
        padding-left: 0;
    }
    .nav .flex__small {
        justify-content: center;
    }
}
@media screen and (min-width: 600px) and (max-width: 1340px) {
    .container {
        padding-inline: 5vw;
    }
}


@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
