/* Basic resets: 
Normalize or reset styles to ensure consistency across browsers 
(e.g., margin, padding, box-sizing reset). */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* Typography settings: 
Base font size, font families, line heights, etc. */

    font-family: var(--font-family__source-sans-3);
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    font-weight: 400;
    font-size: 16px; /* 1rem */
    /* size-chart rem-px
    0.125rem = 2px
    0.250rem = 4px
    0.375rem = 6px
    0.500rem = 8px
    0.625rem = 10px
    0.750rem = 12px
    0.875rem = 14px

    1.000rem = 16px

    1.125rem = 18px
    1.250rem = 20px
    1.375rem = 22px
    1.500rem = 24px
    1.625rem = 26px
    1.750rem = 28px
    1.875rem = 30px
    2.000rem = 32px */ 
}
ul, li {
    list-style-type: none;
}
a {
    font-size: inherit;
    text-decoration: none;
}
label {
    font: inherit;
}

.font-family__source-sans-3 {
    font-family: var(--font-family__source-sans-3);
}
.font-family__source-serif-4 {
    font-family: var(--font-family__source-serif-4);
}
h1, h2, h3, h4, h5, /* h6, */
.font-family__sofia {
    font-family: var(--font-family__sofia);
    text-transform: uppercase;
}

h1 { font-size: 6rem; } 
h2 { font-size: 5rem; } 
h3 { font-size: 4rem; } 
h4 { font-size: 2rem; } 
h5 { font-size: 1.5rem; } 
h6 { font-size: 1rem; }


/* Global layout styles: 
Styles that affect the layout of the whole page, such as body margins, 
header and footer styles, general container widths, etc. */


.nav {
    box-sizing: content-box;
    width: 500px;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 10rem;
    border-left: 1px solid var(--accent-primary);
}


/* header */
.header {
    height: var(--header-height);
}
.header_item {
    align-self: end;
}
.header_logo {
    padding-bottom: 0.7rem;
    height: 100%;
}
.header_btn {
    padding-bottom: 0.6rem;
}

/* card */
.card {
    padding: 1rem;
    border: 1px solid var(--color-primary);
}
.card-img {
    max-height: 50svh;
    max-width: 75%;
}

/* main */
.landing {
    position: relative;
}

.landing_section {
    height: calc(100svh - var(--header-height) - (2 * 1rem)) ;
    margin-left: 40%;
}
.landing__padding-top {
    padding-top: 10svh;
}

.fixed {
    position: fixed;
    /* inset: 10px 20px 30px 40px; */
    /* top: calc(var(--header-height) + (2 * 1rem)); */
    z-index: -1;
    /* margin-top: calc(var(--header-height) + (2 * 1rem)); ; */
    margin-bottom: 50svh;
    
}




/* footer */
/* .footer {
    outline: 1px red solid;
    margin-top: 5rem;
} */
/* .link__back-to-top {
    height: 2rem;
    width: 10rem;
} */


/* Global colors: 
Primary colors, background colors, text colors, etc. */

body, .wrapper {
    background-color: var(--color-primary-background);
}
body, a, i {
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline 2px;
}
a:not(.link__back-to-top):hover {
    text-decoration: underline 2px;
    color: var(--accent-primary);
}
button:has(i) {
    background-color: transparent;
    border: none;
}
.color__secundary {
    color: var(--color-secundary);
}
.color__grey {
    color: var(--color-grey);
}
.color__grey:hover, 
.color__white:hover {
    color: var(--accent-secundary);
}

/* Utility classes: 
Global helper classes 
(e.g., .hidden, .text-center, .container, .clearfix). */

.hidden {
    display: none;
}
input[type="checkbox"] {
    appearance: none;
}

.text-center {
    text-align: center;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 0.125rem;
}

::-webkit-scrollbar-button {
    background: transparent;
    height: 0.125rem;
}

