<input type="checkbox" name="toggleDarkMode" id="toggleDarkMode">
<input type="range" name="toggleDarkMode" id="toggleDarkMode" min="0" max="1" step="1"> 
<h1>Hey there! This is just a title</h1>
<p>I am just a boring text, existing here solely for the purpose of this demo</p>
<p>And I am just another one like the one above me, because two is better than having only one</p>       
<section class="grid col_3">
   <article class="card card-title">Lorem ipsum dolor sit amet.</article>
   <article class="card card-title">Lorem ipsum dolor sit amet.</article>
   <article class="card card-title">Lorem ipsum dolor sit amet.</article>
</section>
<section class="grid col_2">
   <article class="card">Lorem ipsum dolor sit amet.</article>
   <article class="card">Lorem ipsum dolor sit amet.</article>
</section>
<section class="flex flex-dir_column">
   <article class="card fixed-width">Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
   <article class="card flex-grow_1">Lorem ipsum, aperiam eius maiores. Ratione?</article>
</section>